* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: start;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

section:nth-child(1) {
    background: url("../img/img1.jpg") no-repeat center center / cover;
}
section:nth-child(1)::before {
    content: 'Section 1';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section:nth-child(2) {
    background: url("../img/img2.jpg") no-repeat center center / cover;
}
section:nth-child(2)::before {
    content: 'Section 2';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section:nth-child(3) {
    background: url("../img/img3.jpg") no-repeat center center / cover;
}
section:nth-child(3)::before {
    content: 'Section 3';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section:nth-child(4) {
    background: url("../img/img4.jpg") no-repeat center center / cover;
}
section:nth-child(4)::before {
    content: 'Section 4';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section:nth-child(5) {
    background: url("../img/img5.jpg") no-repeat center center / cover;
}
section:nth-child(5)::before {
    content: 'Section 5';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}